# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
Products/

# Swift Package Manager
.build/
Packages/
*.resolved
Package.pins

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
**/.DS_Store

# Claude Code
.claude/
